<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img width="140px" height="32px" src="assets/ps-logo.png" alt="playstation logo">
  </div>
  <div class="menu-bar__item">
    <ul>
      <li> <a href="https://www.facebook.com/adriano.developer" target="_blank" title="facebook">FACEBOOK</a></li>
      <li><a href="https://www.linkedin.com/in/adriano-santos-ribeiro/" target="_blank" title="linkedin">LINKEDIN</a>
      </li>
      <li><a href="https://github.com/adrianofrontend/" target="_blank" title="github">GITHUB</a></li>
    </ul>
  </div>
</div>
<p>menu-bar works!</p>
